@define-color bg #070C13;
@define-color fg #ffffff;
@define-color gray1 #49dcee;
@define-color gray2 #313e4f;
@define-color gray3 #7a7edc;
@define-color gray4 #6AD7EB;
@define-color gray5 #b5a9bc;
@define-color fg_bright #ffffff;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}